.subtitle{
  margin: 1.5em 0 1.5em 1em;
  
}
.title{
  padding: .2em;
  background-color: rgb(220, 206, 187); 
  color: #614040;
  font-size: 1.7em;
}
.list{
  margin: 0 2em 0 2em;
}
.movies {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    width: 15em;
    float: left;
  }
  .movies li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color:  rgb(230, 225, 219);
    margin: .5em;
    padding: .3em 0;
    height: 3em;
    border-radius: 4px;
  }
  .movies li:hover {
    color: #614040;
    background-color:  rgb(238, 225, 210);
    left: .3em;
  }
 
  .movies .badge {
    display: inline-block;
    font-size: 1em;
    color: #614040;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:rgb(220, 206, 187);
    line-height: 1.5em;
    position: relative;
    left: -1px;
    top: -5px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .movies li.selected {
    background-color:  #614040;;
    color: white;
  }
  .movies li.selected:hover {
    background-color: #614040;;
    color: white;
  }