html {
    box-sizing: border-box
  }
  *, *::before, *::after {
    box-sizing: inherit
  }


.texto{
    padding:30px;
    display: grid;
    text-align:center;
    grid-template-columns: 1fr;
}


.grid{
    display: grid;
    grid-template-columns:1fr;
    width:95%;
    margin: 0 auto;
}

/* MOBILE FIRST */
@media only screen and (min-width:760px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .texto{
        grid-template-columns:repeat(2,1fr) ;
    }
}
@media only screen and (min-width:1000px){
    .grid{
        grid-template-columns:  repeat(3,1fr);

    }
    .texto{
        grid-template-columns:1fr 2fr ;
    }
}
.hover-img{
    position:relative;
}
.hover-img p{
    position:absolute;
    opacity:0;   
}
.hover-img:hover p{
    position:absolute;
    top:0;
    left:0;
    padding: 15px 10px;
    margin:0;
    background-color:  rgba(139, 139, 139, 0.7);
    opacity:0.9;
    width: 94%;
    color: black;
}
